<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>To do List</title>
</head>
<body>

<h1>My To do List <small><a href="../students/add.php">ADD</a></small></h1>

{{# showStudents }}

<b>{{ id }}</b> {{ first_name }}, {} 

<br />

{{/ showStudents }}

</body>
</html>