<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Add To Do Record</title>
</head>
<body>

<h1>Add a To do Record</h1>

<form method="POST" action="../teachers/add.php">

<input type="text" name="first_name"  placeholder="Do something good..." />
<input type="text" name="last_name"  placeholder="Do something good..." />
<input type="text" name="student_number"  placeholder="Do something good..." />
<input type="email" name="email"  placeholder="Do something good..." />
<input type="text" name="contact"  placeholder="Do something good..." />
<input type="text" name="program"  placeholder="Do something good..." />

<hr />

<input type="submit"></a>

</form>

</body>
</html>